[Desktop Entry]
Name=Swen
X-KDE-PluginInfo-Author=BackSlash Linux
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=support@backslashlinux.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Swen
X-KDE-PluginInfo-Version=1.0
